<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-IF</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id='app'>
        <button @click="switchShow()">Switch</button>
        <div v-if="isShow">Hello</div> 
        {{ isShow }}
    </div>
    <script>
        const App ={
            data(){
                return{
                    isShow: false
                }
            },
            methods:{
                switchShow(){
                    this.isShow=!this.isShow
                }
            }
        }
        const vue =Vue.createApp(App)
        vue.mount('#app')
    </script>
</body>
</html>